.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 40%;
}

.menu__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    z-index: 301;
    margin-right: 28px;
}

.menu__image {
    max-width: 100%;
    opacity: 1;
}

.menu__image.active {
    opacity: 0;
    transition: all 300ms ease;
}

.menu__line {
    width: 100%;
    height: 0;
    position: relative;
}

.menu__line.active::before {
    content: '';
    width: 40px;
    height: 1px;
    background-color: $col_text;
    transform: rotate(45deg);
    position: absolute;
    top: -24px;
    left: 0;
}

.menu__line.active::after {
    content: '';
    width: 40px;
    height: 1px;
    background-color: $col_text;
    transform: rotate(-45deg);
    position: absolute;
    top: -24px;
    left: 0;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -150%;
    transition: all 1s ease;
    background-color: $col-bg2;
    z-index: 300;
    overflow-y: scroll;
}

.burger-menu.active {
    right: 0;
}

.menu__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 76%;
    height: 49%;
    min-height: 315px;
    border: 1px solid $col_text;
    margin: 13px auto 30px;
    padding-left: 0;
    box-shadow: 7px 8px 15px 0px rgba(12, 13, 13, 0.2);
}

.menu__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
}

.menu__link {
    width: 100%;
    height: 100%;
    @include text($ff_logo, normal, normal, 100%, none, $col_text);
    font-size: calc(1.7em + 1vw);
    text-decoration: none;
    text-align: center;
}

.menu__list-image {
    width: 150px;
}

.menu__list_footer {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-left: 0;
    list-style: none;
}

.menu__item_footer {
    width: fit-content;
}

.menu__link_footer {
    text-decoration: none;
    @include text($ff_text, normal, normal, 100%, none, $col_text);
    font-size: calc(0.6em + 1vw);
}

@media (min-width: 550px) and (max-width: 749px) {
    .menu__list {
        width: 56%;
        min-height: 315px;
    }
}

@media (min-width: 750px) and (max-width: 1000px) {
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 70%;
    }

    .menu__button {
        display: none;
    }

    .burger-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        right: 0;
        transition: all 1s ease;
        background-color: $col-bg2;
    }

    .menu__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        height: fit-content;
        min-height: 0;
        border: none;
        margin: 0 auto;
        padding-left: 0;
        box-shadow: none;
    }

    .menu__item {
        width: fit-content;
    }

    .menu__link {
        @include text($ff_titles, normal, normal, 100%, none, $col_text);
        font-size: calc(1.6em + 1vw);
    }

    .menu__list-image {
        display: none;
    }

    .menu__list_footer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 30%;
        padding-left: 0;
        list-style: none;
        margin-left: 50px;
        transform: translateY(-183px);
    }

    .menu__item_footer {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .menu__link_footer {
        font-size: calc(1em + 1vw);
    }
}

@media (min-width: 1001px) {
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 70%;
    }

    .menu__button {
        display: none;
    }

    .burger-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        right: 0;
        transition: all 1s ease;
        background-color: $col-bg2;
    }

    .menu__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        height: fit-content;
        min-height: 0;
        border: none;
        margin: 0 auto;
        padding-left: 0;
        box-shadow: none;
    }

    .menu__item {
        width: fit-content;
    }

    .menu__link {
        @include text($ff_titles, normal, normal, 100%, none, $col_text);
        font-size: calc(1.6em + 1vw);
    }

    .menu__list-image {
        display: none;
    }

    .menu__list_footer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 30%;
        padding-left: 0;
        list-style: none;
        margin-left: 50px;
        transform: translateY(-183px);
    }

    .menu__item_footer {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .menu__link_footer {
        font-size: calc(1em + 1vw);
    }
}



