//шрифты

$ff_titles: 'Custodia-Deco';
$ff_text: 'Montserrat', sans-serif;
$ff_logo: 'Northern-Gardarika';


//цвета
$col_text: #7B3913;
$col-bg: rgba(194, 140, 106, 0.13);
$col-bg2: #FFF3F3;
$col-form: #D6BCAE;
$col-portfolio: #EAD0C4;
$col-social: #A37E6A;
$col-bg3: #F7E6E1;